*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

header .container{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(230, 238, 238);
    z-index: 1000;
    background-color: white;
    
}

/* logo  */
.header-logo, .location,.search-bar,.login-btn, .my-cart {
    margin: 0px 25px;
    cursor: pointer;
}
.header-logo svg {
    width: 82%;
    height: 20px;
}
/* paan image styling */

.paan-image img{
    object-fit: cover;
    transition: all ease 1s;
}
.paan-image:hover img{
    scale: 1.010;
}

/* location */
.location {
    padding-left: 23px;
}
.location .loction-title {
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 3px;
    letter-spacing: 0.5px;
}
.location .location-disc {
    font-size: 11px;
    display: flex;
    align-items: center;
}
.location-disc .fa-caret-down {
   
    padding-left: 5px;
}
/* search bar */
.search-bar {
    width: 52%;
    border: 1px solid rgba(60, 57, 57, 0.096);
    border-radius: 8px;
    background: rgb(248, 248, 248);
    color: rgb(130, 130, 130);
    background-color: transparent;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    

}
.search-bar input {
    border: 0;
    outline: 0;
    font-size: 15px;
    font-weight: 100;
    width: 100%;
}
.search-bar .fa-magnifying-glass {
    width: 13px;
    color: black;
}

/* login btn */
.login-btn {
    font-size: 15px;
    font-weight: lighter;
   

}
.my-cart button{
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 15px;
    width: 112px;
    height: 52px;
    background-color: green;
    border: 0;
    color: white;
    cursor: pointer;
}
.my-cart {
    margin-left: 50px;
}
/* main section */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 77px;
   
}
.main-container {
    max-width: 1250px;
}
.banner img{
    width: 100%;
}
.banner2 {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    border-radius: 8px;
    margin: 0px 14px;
}
::-webkit-scrollbar{
    display: none;
}

.banner-img img {
    height: 187px;
    width: 329.4px;
    cursor: pointer;
    
}
/* product category */

.category-item, .category-item-2 {
    display: flex;
    overflow: hidden;
    
}
.category-item img,.category-item-2 img {
    height: 175px;
    width: 126px;
    cursor: pointer;
    border-radius: 0px;
}

/* product card */
.product-section,.product-section-2, .product-section-3 {
    position: relative;
    height: auto;
    margin: 0 0 0 0;
    
}
.product-category-list {
    display: flex;
    gap: 15px;
    max-width: 1250px;
    height: 298px;
    overflow-x: auto;
    overflow-y: hidden;
}
.product-head {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* margin: 0 0 0 0; */
    
    
}
.product-head .heading {
    color: rgb(28, 28, 28);
    font-size: 24px;
    font-family: Okra-Medium;
    font-weight: 600;
    line-height: 32px;
}
.product-head span {
    line-height: 32px;
    font-size: 20px;
    color: rgb(12, 131, 31);
    font-family: Okra-Medium;
}
.product-card {
  
    min-width: 179px;
    max-width: 179px;
    
    cursor: pointer;
    flex: 0 1 0%;
    position: relative;
    top: 20px;    

}
.product {
    min-width: 100%;
    
    grid-column: span 6 / auto;
    padding-bottom: 0.75rem;
    gap: 0.125rem;
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    position: relative;
    cursor: pointer;
    background: rgb(255, 255, 255);
    border: 0.5px solid rgb(232, 232, 232);
    box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
    border-radius: 8px;
    overflow: hidden;
}
.product-disc {
    margin-left: 10px;
    max-width: 158px;
}
.product-img {
    margin: 0px 19px;
}
.product-img img{
    width: 140px;
    height: 140px;
}
.product-title {
    overflow: hidden;
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 18px;
    width: 100%;
    height: 36px;
    margin-bottom: 6px;
}
.product-weight {
    align-items: center;
    display: flex;
    height: 26px;
    width: 100%;
   
}
.product-weight span{
    height: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 13px;
    font-size: 10px;
}
.product-price {
    display: flex;
    flex-direction: column;
    margin-bottom: -2px;
}
.product-price span {
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 12px;
}
.product-price .text-line {
    text-decoration: line-through;
    margin: -2px 0 0 0 ;
    color: rgb(130, 130, 130);
    font-weight: 400;
}
.product-price-btn {
    display: flex;

}
.product-btn {
    margin-left: 73px;
    
}
.product-btn button {
    height: 31px;
    width: 66px;
    color: rgb(49, 134, 22);
    font-weight: 600;
    font-size: 13px;
    background-color: rgb(247, 255, 249);
    border-radius: 0.375rem;
    gap: 0.125rem;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
/* foooter */
.footer-container {
    position: relative;
    max-width: 1250px;
    margin: 48px auto auto;
    
    
}

.footer-item ,.footer-heading{
    position: relative;
    top: 3rem;
    display: flex;
    gap: 100px;
}
.footer-heading {
    margin: 24px 0px;
}
.footer-item ul{
    list-style-type: none;
    font-size: 14px;
    display: inline-block;
    color: rgb(112, 106, 106);
    font-weight: 100;
}
.footer-item ul li {
    margin: 0px 0px 8px 0px;
}
